# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
database.db
*.sqlite
*.sqlite3

# Media Files
media/*
!media/.gitkeep

# Undo State File
undo_state.json

# IDE / OS specific
.vscode/
.idea/
.DS_Store