<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage - local-booru</title>
</head>
<body>
    {% include '_header.html' %}

	<!-- change this for a proper banner in the future -->
	<h1 id="index-header">local-booru</h1>

    <div class="index-page-container">
        <form class="search-form-index" action="/gallery" method="get">
            <div class="autocomplete-container">
                <input
                    type="text"
                    name="q"
                    id="search-input"
                    placeholder="Search tags..."
                    autocomplete="off"
                    required
                />
                <div class="suggestions"></div>
            </div>
            <button type="submit">Search</button>
        </form>

		<footer>
			<div id="image-counter" class="image-counter"></div>
			<!-- Counter girls drawn by Kusaka Kokage -->
			<p>Serving {{ image_count }} images. <a href="https://github.com/Hatrask/local-booru">local-booru</a> {{ latest_version }}</p>
		</footer>
    </div>

	<script src="/static/js/ui_helpers.js"></script>
	<script src="/static/js/saved_searches_manager.js"></script>
	<script src="/static/js/autocomplete.js"></script>
	<script src="/static/js/index.js"></script>
</body>
</html>